html, body {
    background-color: #666666;
    background-image: url('https://media.discordapp.net/attachments/949812177940934666/976000056387850270/Pngtreeurban_night_scene_1198415.png?width=1440&height=557');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}




.P33 {
    position: fixed;
    left: 600px;
    top: 150px;
    width: 40%;
    animation-name: box-jumping;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes box-jumping {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0%);
    }
}

.contact {
    position: fixed;
    top: 567px;
    left: 930px;
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
}

.box {
    background-color: skyblue;
    position: fixed;
    top: 590px;
    left: 921px;
    padding: 30px;
    width: 70px;
    border-radius: 25px;
}

.discord {
    position: fixed;
    top: 675px;
    left: 810px;
    width: 100;
    transition-property: transform;
    transition-duration: 1s;
}

.facebook {
    position: fixed;
    top: 683px;
    left: 945px;
    width: 4.3%;
    transition-property: transform;
    transition-duration: 1s;
}

.ig {
    position: fixed;
    top: 683px;
    left: 1065px;
    width: 4.3%;
    transition-property: transform;
    transition-duration: 1s;
}

.discord:hover {
    transform: scale(1.2, 1.2);

}

.facebook:hover {
    transform: scale(1.2, 1.2);

}

.ig:hover {
    transform: scale(1.2, 1.2);

}

.title {
    color: black;
    text-align: center;
}

.text {
    font-size: 20px;
    text-align: center;
}